header {
  border: 5px solid black;
  height: 25vh;
  box-sizing: border-box;
  padding: 1.5vh;
  gap: 5%;
  display: flex;
  align-items: flex-end;
}

main {
  border: 5px dotted black;
  height: 30vh;
  position: relative;
  top: 1vh;
}

footer {
  box-shadow: 5px 5px 5px 5px darkgray;
  height: 35vh;
  width: 50vw;
  position: relative;
  left: 25%;
  top: 1vh;
  align-items: center;
}

#purple {
  background-color: blueviolet;
  width: 5%;
  height: 60%;
}

#green {
  background-color: green;
  width: 35%;
  height: 100%;
}

#blue {
  background-color: skyblue;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#beige {
  background-color: beige;
  width: 90%;
  height: 80%;
  box-shadow: 5px 5px 10px rgb(50, 50, 50);
  position: relative;
}

#friends {
  position: relative;
  text-align: center;
  top: 15vh;
  font-size: 2em;
  letter-spacing: 10px;
  color: navy;
  font-weight: bold;
}
